nav {
  background-color: black;
  padding: 10px;
  text-align: left;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 16px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover,
nav a.active {
  background-color: aqua;
  color: black;
  border-radius: 4px;
}
