/* src/app/details/details.component.css */

.container {
    background-color: white; /* Un fondo blanco para el contenido de detalles */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    color: black; /* Aseguramos texto negro */
}

h1 {
    color: black;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

h2 {
    color: #333;
    margin-top: 20px;
}

p {
    line-height: 1.6;
}